PREFECT_API_URL=http://VM-IP:4200/api

GH_TOKEN=your_github_token
# docker setup
GITHUB_REPOSITORY=https://github.com/your-username/prefect-iris-classification.git
GITHUB_BRANCH=main
POSTGRES_PASSWORD=prefect
MLFLOW_TRACKING_URI=http://VM-IP:5000